@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    /* Colors */
    --yellow: rgb(244, 208, 78);
    --gray-950: rgb(17, 17, 17);
    --gray-500: rgb(107, 107, 107);
    --white: rgb(255, 255, 255);

    /* Typography */
    --primary-font: Figtree;
    --weight-medium: 500;
    --weight-extra-bold: 800;
    --font-size1: 24px;
    --font-size2: 16px;
    --font-size3: 14px;

    /* Spacing */
    --size-200: 16px;
    --size-150: 12px;
    --size-100: 8px;
    --size-50: 4px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: var(--font-size-2);
    color: var(--gray-950);
    line-height: 150%;
    letter-spacing: 0px;
}

/* Font Classes Styles */
.text-preset1 {
    font-size: 24px;
    font-weight: var(--weight-extra-bold);
}

.text-preset2 {
    font-size: 16px;
    font-weight: var(--weight-medium);
}

.text-preset3 {
    font-size: 14px;
    font-weight: var(--weight-medium);
}

main {
    background-color: var(--yellow);
    height: 100dvh;
    display: grid;
    place-items: center;

    .card {
        background-color: var(--white);
        width: 384px;
        padding: 24px;
        border: 1.5px solid var(--gray-950);
        border-radius: 20px;
        box-shadow: 8px 8px;

        > img {
            border-radius: 10px;
            width: 100%;
            margin-bottom: 24px;
        }

        .content {
            margin-bottom: 24px;

            .category {
                display: inline-block;
                margin-bottom: var(--size-150);
                background-color: var(--yellow);
                padding: var(--size-50) var(--size-150);
                font-weight: var(--weight-extra-bold);
                border-radius: 4px;
            }

            .publish-date {
                margin-bottom: var(--size-150);
            }

            .title {
                margin-bottom: var(--size-150);
            }

            .title:hover {
                color: var(--yellow);
            }

            .description {
                color: var(--gray-500);
            }
        }

        .author {
            display: flex;
            justify-content: start;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                margin-right: var(--size-150);
            }

            .author-name {
                font-weight: var(--weight-extra-bold);
            }
        }
    }
}
